.modal {
  background-color: #314545;
  position: absolute;
  border-radius: 100px;
  border-style: groove;
  top: 20px;
  left: 328px;
  width: 687px;
  height: 470px;
  color: #fdcb08;
  margin-top: 110px;
}

.fechar button {
  background: #fdcb08;
  width: 25px;
  height: 25px;
  border-radius: 80px;
  margin-left: 625px;
  color: #3a7bb8;
  margin-top: 37px;
}

.pokemons {
  margin-left: 300px;
  margin-top: -290px;
}

.pokemons img {
  width: 275px;
  height: 260px;
}

.pokemons text {
  width: 310px;
  height: 260px;
}

.texto {
  margin-left: 60px;
  font-size: larger;
}

@media screen and (max-width: 600px) {
  .modal {
    margin-left: 77px;
    margin-top: 123px;
    width: 516px;
    height: 283px;
  }

  .pokemons img {
    width: 135px;
    height: 147px;
    margin-top: 137px;
  }

  .texto {
    font-size: 11px;
    margin-top: -17px;
  }

  .fechar button {
    margin-left: 463px;
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
}