.logo {
  display: flex;
  justify-content: center;

}

.logo img {
  border-radius: 110px;
  width: 900px;
  margin-top: 114px;
  height: 360px;

}


.button {
  display: flex;
  justify-content: center;
}

.button input {
  border-radius: 100px;
  width: 500px;
  height: 30px;
  background: #fdcb08;
  border: none;
  border-style: groove;
}

.button button {
  border-radius: 100px;
  background: #fdcb08;
  border: none;
  color: #3a7bb8;
  font-size: larger;
  border-style: groove;
}

.enter {
  display: flex;
  align-items: center;
  margin-top: 20px;
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poke {
  background-color: #fdcb08;
  width: 300px;
  height: 35px;
  border-radius: 100px;
  margin-top: 80px;
  border: none;
  color: #3a7bb8;
  font-size: larger;
  border-style: groove;
}

.container {
  background-color: #314545;
  margin-top: 250px;
  display: flex;
  position: fixed;
  border-radius: 100px;
  border-style: groove;
  top: 30px;
  left: 600px;
  width: 687px;
  height: 470px;
  color: #fdcb08;
  align-items: center;

}

.fechar button {
  background: #fdcb08;
  width: 25px;
  height: 25px;
  border-radius: 80px;
  margin-left: 625px;
  color:#3a7bb8; 
  margin-top: 37px;
}

.pokemons {
margin-left: 300px;
margin-top: -200px;
}

.pokemons img {
  width: 310px;
  height: 260px;
  }

  .pokemons text {
    width: 310px;
    height: 260px;
    }

  .texto {
    margin-left: 60px;
    font-size: larger;
  }

