.logo {
  display: flex;
  justify-content: center;
}

.cont {
  width: 1340px;
  margin: 0 auto;
  position: relative;
}

.logo img {
  border-radius: 110px;
  width: 900px;
  margin-top: 114px;
  height: 360px;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.button input {
  border-radius: 100px;
  width: 500px;
  height: 30px;
  background: #fdcb08;
  border: none;
  border-style: groove;
  padding: 0px 8px;
}

.button button {
  border-radius: 100px;
  background: #fdcb08;
  border: none;
  color: #3a7bb8;
  font-size: larger;
  border-style: groove;
}

.enter {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poke {
  background-color: #fdcb08;
  width: 300px;
  height: 35px;
  border-radius: 100px;
  margin-top: 80px;
  border: none;
  color: #3a7bb8;
  font-size: larger;
  border-style: groove;
}

@media screen and (max-width: 600px) {
  .logo img {
    width: 590px;
    height: 300px;
  }

  .enter {
    width: 136px;
  }

  .poke {
    font-size: 15px;
    width: 135px;
  }

  .button input {
    width: 100px;
    height: 15px;
  }

  .button button {
    width: 35px;
    height: 23px;
    font-size: 6px;
  }

}